<div class="banner mb-5 mt-5"
     style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('imagen-banner.jpg') %>');
            background-size: cover;
            background-position: center;
            height: 70vh;">
  <div class="container">
    <h1>Let's buy something today 🔥!</h1>
    <p>Our products are really awesome. Let's check them!</p>
  </div>
</div>
