<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class = "banner">
  <h1>Bring on Spring, Make every space spring-ready</h1>
 <%= image_tag "tv-netflix", class: "banner-image" %>
</div>
<div class = "card-container">
  <div class ="card">
  </div>
   <div class ="card">
  </div>
   <div class ="card">
  </div>
</div>
