
<div class = "banner">
  <h1>The Best Brands, the Best Prices! Discover Our Exclusive Appliance Offers.</h1>

</div>
<div class = "card-container">
  <div class ="card">
      <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>TV 50 en oferta!</strong> <br>
      Aprovecha ahora</p>
  </div>
   <div class ="card">
    <%= image_tag("laptop1.png", alt: "tv") %>
       <p class="texto-card"> <strong>Laptop en oferta!</strong> <br>
      Aprovecha ahora</p>
  </div>
   <div class ="card">
    <%= image_tag("tv2.png", alt: "tv") %>
      <p class="texto-card"> <strong>TV en oferta!</strong> <br>
      Aprovecha ahora</p>
  </div>
</div>

<%= cl_image_tag("dlzcahn22dmqbhsnwam9", width: 400, height: 300, crop: :fill) %>
