<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class = "banner">
  <h1>Aprovecha esta oferta!</h1>
  <img src="assets/images/tv-netflix.jpg" alt="">
</div>
<div class = "banner">
  <div class ="card">
  </div>
   <div class ="card">
  </div>
   <div class ="card">
  </div>
</div>
