.navbar-lewagon {
  justify-content: space-between;
  background: #FFEB00;
  height: 80px;
  position: sticky; top: 0;
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.cart-counter {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff0000;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
}

.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}
