<h1>Lists available products</h1>
<p>what are you looking for?</p>

<div class="container">
  <div class="row">
    <div class="column">
      <ol class="row" ><% @products.each do |product| %>
        <%= product.name %>
        <li><%= simple_form_for [product, @cart_product] do |f| %></li>
          <%= f.submit "Add to cart", class: "btn btn-primary border mt-1" %>
          <%= link_to "See details of #{product.name}", product_path(product), class: "btn btn-primary mt-1" %>
        <% end %>
      <% end %></ol>
    </div>
  </div>
</div>
