<h1>Lists available products</h1>
<p>what are you looking for?</p>

<div class="container">
  <div class="row">
    <div class="column">
      <ol class="row">
        <% @products.each do |product| %>
          <li>
            <%= product.name %>
            <%= simple_form_for [product, CartProduct.new], url: product_cart_products_path(product), method: :post do |f| %>
              <%= f.submit "Add to cart", class: "btn btn-primary border mt-1" %>
            <% end %>
            <%= link_to "See details of #{product.name}", product_path(product), class: "btn btn-primary mt-1" %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
