<div class="mt-3 ms-3">
  <%= link_to "<- Cancel/See all products", products_path(), class: "btn btn-primary border" %>
</div>
<div class="container mt-4">
  <h1>Post a new product</h1>
  <p>Remember to give a great description of your product</p>
  <%= render "shared/form" %>
</div>
