<div class="container mt-5 ">
  <div style="max-width: 700px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color:rgb(236, 237, 240); color:rgb(0, 0, 0);">
      <h1 class="text-center fw-bold">Post a new product</h1>
      <p class="text-center">Remember to give a great description of your product</p>
      <%= render "shared/form" %>
      <%= link_to "Cancel", products_path(), class: "btn button-electroshop w-85" %>
  </div>
</div>
